<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/styles.css">
	<title>Document</title>
</head>
<body class="container">
	<nav>
		<h1>Balance</h1>
		<ul class="nav-list">
			<li class="item"><a href="./expanse.html">expanse</a></li>
			<li class="item"><a href="./income.html">income</a></li>
			<li class="item"><a href="./balance.html">balance</a></li>
		</ul>
	</nav>

	<table id="table" class="table">
		<tr class="table-header">
			<th>Xarajat</th>
			<th>Daromad</th>
			<th>Jami</th>
		</tr>
	</table>
<script src="../js/request.js"></script>
<script src="../js/balance.js"></script>
</body>
</html>
